.section {
  padding: 20px 0;

  @media screen and (min-width: $medium) {
    padding: 50px 0;
  }

  &__subheadline {
    color: $accent;

    @media screen and (min-width: $medium) {
    }
  }
  &__headline {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3;
    margin: 16px auto;

    @media screen and (min-width: $medium) {
      font-size: 48px;
      margin-bottom: 20px;
    }

    @media screen and (min-width: $large) {
      font-size: 52px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    max-width: 595px;
    margin: 0 auto;

    @media screen and (min-width: $medium) {
      font-size: 20px;
    }
  }
}
